<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bankrupt.workflow.idm.mapper.OpenApiMapper">

	<resultMap id="BaseResultMap" type="cn.bankrupt.workflow.idm.entity.OpenApi">
		<id column="id" property="id" />
		<id column="access_name" property="accessName" />
		<id column="access_key" property="accessKey" />
		<id column="status" property="status" />
		<id column="remark" property="remark" />
		<id column="create_by" property="createBy" />
		<id column="create_time" property="createTime" />
		<id column="update_by" property="updateBy" />
		<id column="update_time" property="updateTime" />
		<id column="is_deleted" property="isDeleted" />
	</resultMap>
	<sql id="Base_Column_List">
		id, access_name, access_key, status, remark, create_by, create_time, update_by, update_time, is_deleted
	</sql>


	<update id="restTenantRevision">
		update act_id_tenant  set REV_ = 1 where ID_ = #{uuid}
	</update>

	<update id="restGroupRevision">
		update act_id_group  set REV_ = 1 where ID_ = #{uuid}
	</update>

	<update id="restUserRevision">
		update act_id_user  set REV_ = 1 where ID_ = #{uuid}
	</update>


	<select id="getTenantRevision" resultType="java.lang.Integer">
		select REV_ from act_id_tenant where ID_ = #{uuid}
	</select>

	<select id="getGroupRevision" resultType="java.lang.Integer">
		select REV_ from act_id_group where ID_ = #{uuid}
	</select>

	<select id="getUserRevision" resultType="java.lang.Integer">
		select REV_ from act_id_user where ID_ = #{uuid}
	</select>


</mapper>