<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bankrupt.workflow.model.mapper.WorkFlowFormModelInfoMapper">

	<resultMap id="BaseResultMap" type="cn.bankrupt.workflow.model.entity.WorkFlowFormModelInfo">
		<id column="id" property="id" />
		<id column="model_id" property="modelId" />
		<id column="category_id" property="categoryId" />
		<id column="category_name" property="categoryName" />
		<id column="form_name" property="formName" />
		<id column="form_key" property="formKey" />
		<id column="version" property="version" />
		<id column="form_model_type" property="formModelType" />
		<id column="tenant_id" property="tenantId" />
		<id column="create_by" property="createBy" />
		<id column="create_time" property="createTime" />
		<id column="update_by" property="updateBy" />
		<id column="update_time" property="updateTime" />
		<id column="is_deleted" property="isDeleted" />
	</resultMap>
	<sql id="Base_Column_List">
		id, model_id, category_id, category_name, form_name, form_key, version, form_model_type, tenant_id, create_by, create_time, update_by, update_time, is_deleted
	</sql>
	
</mapper>